@tailwind base;
@tailwind components;
@tailwind utilities;

$var:#94a8a7;

$ru-dark-blue:#133fa8;
$ru-mid-blue:#2a78c4;
$ru-light-blue:#56c9ef;
$cta-blue:#c7e2eb;

body {
  /* Just to show that you can mix SASS and Tailwind directives */

}

#logo {
  max-width: 300px;
  position: inherit;
  z-index: 999;
}

/* Tailwind @apply directives will be processed by PostCSS after the SASS rendering takes place */

a { @apply text-blue-600 no-underline border-b-2 border-blue-600 }
a:visited { @apply text-indigo-600 no-underline border-b-2 border-indigo-600 }
a:hover { @apply text-blue-900 no-underline border-b-2 border-blue-900 }
a:active { @apply text-blue-900 bg-yellow-400 no-underline border-b-4 border-blue-900 }


.list li {
  @apply list-disc
}

h1 {}
h3 { color: $ru-dark-blue;}
h1,h2,h3 { @apply font-bold; }

main p {
  margin-bottom: 1em;
  color: #454547;
  &:last-child {
    margin-bottom: 0;
  }
}

.blue {
  a { @apply text-white }
  a:visited { @apply text-white no-underline border-b-2 border-white }
  a:hover { @apply text-white no-underline border-b-4 border-white }
  a:active { @apply text-blue-900 bg-yellow-400 no-underline border-b-4 border-blue-900 }
}

.blue-grad-bg {
  background: $ru-dark-blue;
  background: linear-gradient(180deg, rgba(19,63,168,1) 0%, rgba(34,95,184,1) 35%, rgba(64,137,190,1) 100%);
  * {color: white;}
}

.dark-blue {
  background: $ru-dark-blue;
}

.medium-blue {
  background: $ru-dark-blue;
}


.light-blue {
  background: $ru-light-blue;
}

a.button.blue {
    display: inline-block;
    background: $ru-dark-blue;
    padding: 0.5em 1em;
    border-radius: 9999px;
    color: white;
    border: 4px $ru-dark-blue solid;
}

a.button.blue:active { @apply text-blue-900 bg-yellow-400 no-underline border-4 border-blue-900 underline }

footer {
  color: white;
}
